In [1]:
import warnings 
import pandas as pd
import numpy as np
import sys
sys.path.append("..")
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans
warnings.filterwarnings("ignore")

In [2]:
from scripts.data_read import read_data
from scripts.normalization import normalize_data

In [8]:
df = read_data("../data/experience_data.csv")
df.head()

,MSISDN/Number,Handset Type,Average TCP retransmission,Average RTT,Average throughput
0,33664962239,Samsung Galaxy A5 Sm-A520F,21569.572935,47.000000,67.0
1,33681854413,Samsung Galaxy J5 (Sm-J530),21569.572935,70.000000,42.0
2,33760627129,Samsung Galaxy A8 (2018),21569.572935,127.458589,15.0
3,33750343200,undefined,21569.572935,127.458589,88.0
4,33699795932,Samsung Sm-G390F,21569.572935,127.458589,15.0

In [9]:
df.isna().sum()

MSISDN/Number                 0
Handset Type                  0
Average TCP retransmission    0
Average RTT                   0
Average throughput            0
dtype: int64